In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [128]:
data = pd.read_csv('./data.csv')
cols = list(data)
data.count()

country               27820
year                  27820
sex                   27820
age                   27820
suicides_no           27820
population            27820
suicides/100k pop     27820
country-year          27820
HDI for year           8364
 gdp_for_year ($)     27820
gdp_per_capita ($)    27820
generation            27820
dtype: int64

In [129]:
# suicides_no to last column
cols.insert(len(cols) - 1, cols.pop(cols.index('suicides_no')))
data = data.loc[:, cols]
data.head()

,country,year,sex,age,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,suicides_no
0,Albania,1987,male,15-24 years,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,21
1,Albania,1987,male,35-54 years,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,16
2,Albania,1987,female,15-24 years,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,14
3,Albania,1987,male,75+ years,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,1
4,Albania,1987,male,25-34 years,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,9

In [130]:
del data['country']
del data['country-year']
del data['year']
del data['HDI for year']
del data['generation']

In [131]:
data.columns = data.columns.str.replace(' ', '')

In [114]:
data.head()

,sex,age,population,suicides/100kpop,gdp_for_year($),gdp_per_capita($),suicides_no
0,male,15-24 years,312900,6.71,"2,156,624,900",796,21
1,male,35-54 years,308000,5.19,"2,156,624,900",796,16
2,female,15-24 years,289700,4.83,"2,156,624,900",796,14
3,male,75+ years,21800,4.59,"2,156,624,900",796,1
4,male,25-34 years,274300,3.28,"2,156,624,900",796,9

In [115]:
data.dtypes

sex                   object
age                   object
population             int64
suicides/100kpop     float64
gdp_for_year($)       object
gdp_per_capita($)      int64
suicides_no            int64
dtype: object

In [132]:
data['gdp_for_year($)'] = data['gdp_for_year($)'].str.replace(',', '')
data['gdp_for_year($)'] = data['gdp_for_year($)'].astype('int')

In [126]:
data.dtypes

country               object
sex                   object
age                   object
population             int64
suicides/100kpop     float64
gdp_for_year($)        int64
gdp_per_capita($)      int64
suicides_no            int64
dtype: object

In [119]:
data.head()

,sex,age,population,suicides/100kpop,gdp_for_year($),gdp_per_capita($),suicides_no
0,male,15-24 years,312900,6.71,2156624900,796,21
1,male,35-54 years,308000,5.19,2156624900,796,16
2,female,15-24 years,289700,4.83,2156624900,796,14
3,male,75+ years,21800,4.59,2156624900,796,1
4,male,25-34 years,274300,3.28,2156624900,796,9

In [133]:
data.to_csv('pre_procesing_output.csv', index=False)

In [6]:
data.head()

,sex,age,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),suicides_no
0,male,15-24 years,312900,6.71,"2,156,624,900",796,21
1,male,35-54 years,308000,5.19,"2,156,624,900",796,16
2,female,15-24 years,289700,4.83,"2,156,624,900",796,14
3,male,75+ years,21800,4.59,"2,156,624,900",796,1
4,male,25-34 years,274300,3.28,"2,156,624,900",796,9

In [22]:
# only males
males = data[data['sex'] == 'male']
# len(males)
sum_males = males['suicides_no'].sum()

# only females
females = data[data['sex'] == 'female']
# len(females)
sum_females = females['suicides_no'].sum()

if(sum_females > sum_males):
    print('More females than males')
else:
    print('More males than females')
print('Females =', sum_females, ' , Males = ', sum_males)

More males than females
Females = 1559510  , Males =  5188910